[rpc]
  url = "http://localhost:8080"
  delay = 1000
  batch_size = 1

[scan]
  from_block = 1
  to_block = 100
  full_blocks = true
  scan_balances = true
  scan_receipts = true
  scan_contract_code = true
  output_dir = "output"
